/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Kanit:400,300,700,200,100');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

$base-font: 'Kanit', 'sans-serif';
$header-font: 'Source Code Pro', 'monospace';

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #396FB2;


$red: #EE5F5B;
$blue: #00A1FF;
$grayblue: #5E738D;
$yellow: #C5A516;
$orange: #E67E22;
$green: #32B796;
$brown: #A18E39;
$lightgray: #DCE0E0;
$gray: black;
$darkgray: #767676;
$black: black;
