/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.home-container {
  position: absolute;
  top: 600px;
  width: 100%;
}

.home-icon {
  font-size: 50px;
  margin-bottom: 20px;
}

#icons-row {
  margin-bottom: 40px;
}

#wrapper1 {
  background-color: white;
}

#wrapper2 {
  background-color: $wrapper;
  min-height: 200px;
  padding: 20px 0 40px 0;
  p, h1 {
    color: white;
  }
  p {
    font-size: 22px;
    line-height: 1.2;
  }
}

#wrapper3 {
  background-color: white;
  color: $wrapper;
  .container {
    padding: 0px 100px;
  }
}

.home-phone {
  height: 385px;

}

#phonerow {
  height: 400px;
}

.pms-logo {
  height:150px;
  align-content: center;
}
