
<%= image_tag "banner.jpg", class: "home-banner"  %>

<div class="row home-banner">
  <div class="col-lg-6 hidden-xs home-content-left">
      <%= image_tag "phone.gif", class: "banner-phone" %>
  </div>
  <div class="col-lg-6 home-content-right">
    <div class="home-content-right-text">
      <h2>The best way to answer all your customers' questions.</h2>
      <p class="hidden-xs">Reply to all leads instantaneously with a conversational chatbot. It only takes minutes to build.</p>
    </div>
    <div class="home-banner-content-links text-center">
      <a href="https://www.messenger.com/t/156947721487134/">
        <%= image_tag "messenger.png", class: "home-banner-messenger-link overflow" %> <br>
        Test now!
      </a>
    </div>
    <div class="home-banner-call-to-action margined-v">
      <%= link_to t(".top_call_to_action", default: "Build yours"), "#", class: "home-banner-call-to-action-btn btn" %>
    </div>
  </div>
</div>

