<%= image_tag "banner2.jpeg", class: "home-banner" %>
<div class="home-banner">
  <div class="home-banner-content">
    <div class="home-content-left">
      <%= image_tag "phone.gif", class: "banner-phone" %>
    </div>
    <div class="home-content-right">
      <div class="home-content-right-text">
        <h2>The best way to answer all your customers' questions.</h2>
        <p>Reply to all leads instantaneously with a conversational chatbot. It only takes minutes to build.</p>
      </div>
      <div class="home-banner-content-links text-center">
        <a href="https://www.messenger.com/t/156947721487134/">
          <%= image_tag "messenger.png", class: "home-banner-messenger-link" %> <br>
          Test now!
        </a>
      </div>
      <div class="home-banner-call-to-action margined-v">
        <%= link_to t(".top_call_to_action", default: "Build yours"), "#", class: "home-banner-call-to-action-btn btn" %>
      </div>
    </div>
  </div>
</div>
