<div class="navbar-default">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-default-brand hidden-xs" do %>
    <%= image_tag "clerkbot-banner2.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-default-right">
    <!-- Different navigation if login or not -->



  </div>
</div>


