/* Main class */
.navbar-default {
  background: transparent;
  transition: all 0.3s ease;
  display: flex;
  height: 100px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-family: $headings-font-family;
  font-weight: bolder;
}


/* Navbar logo */
.navbar-default-brand img {
  height: 50px;
}


.navbar-default-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  float: left;
  width: 100%;
}

/* Navbar right section (with form, links, button) */
.navbar-default-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Navbar item */
.navbar-default-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-default-link {
  color: white;
  font-size: 14px;
  font-family: $headings-font-family;
  font-weight: bolder;
}
.navbar-default-link:hover {
  color: white;
  text-decoration: none;
}

/* Navbar right button */
.navbar-default-button {
  margin-left: 10px;
  padding: 0 20px;
  line-height: 40px;
  color: white;
  font-size: 14px;
  border: 2px solid white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: $border-radius-base;
}

.navbar-default-button:hover {
  color: white;
}



/* Navbar dropdown menu */

.dropdown {
  color: white;
  font-size: 20px;
}

.navbar-default-dropdown-menu {
  margin-top: 15px;
  border: 2px solid white;
  background-color: transparent;
  padding: 0px;
  border-radius: $border-radius-base;
}
.navbar-default-dropdown-menu li > a {
  transition: color 0.3s ease;
  color: white !important;
  line-height: 22px !important;
  padding: 10px 20px;
  font-weight: bolder;
}

.navbar-default-dropdown-menu li {
  border-bottom: 2px solid white;
  vertical-align: middle;
}

.navbar-default-dropdown-menu li:last-child {
  border-bottom: none !important;
}

.navbar-default-dropdown-menu li > a:hover {
  background: transparent !important;
}
.navbar-default-dropdown-menu:before {
  content: ' ';
  height: 8px;
  width: 8px;
  position: absolute;
  right: 0;
  top: -6px;
  transform: rotate(45deg);
  border-left: 2px solid white;
  border-top: 2px solid white;
}

#navbar-mobile {
  float: right;
  width: 100%;
}
