// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

// Text CSS

h1, h2, h3{
  line-height: 1.4;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: 200;
}
